@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #343a4e;
    background-color:  #8c98c1;
    padding: 30px;
}


.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px 200px;
    margin-bottom: 20px;
}

.head div{
    padding: 20px;
}

#getWord{
    padding: 0px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px 25px;
}

.main div{
    height: 300px;
}

#gameName{
    font-size: 70px;
  font-family: 'Rye', cursive;
}